GROQ_API_KEY=your_groq_api_key_here
NEXT_PUBLIC_LIFETIME_PRICE_LINK=https://nexrover.lemonsqueezy.com/checkout/buy/88f60998-3fd2-47b0-be0e-87d1713c5110
NEXT_PUBLIC_YEARLY_PRICE_LINK=https://nexrover.lemonsqueezy.com/checkout/buy/f1a29317-4020-4da4-9f55-737513161ac2
